.root {
    -fx-background-color: #2B2B2B;
}

.title-label {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.informations-label {
    -fx-font-size: 13px;
    -fx-text-fill: white;
}