.dialog-pane {
    -fx-background-color: #2B2B2B;
}

.dialog-pane .content.label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #45A049;
}

.button:pressed {
    -fx-background-color: #3E9C41;
}
