.root {
    -fx-background-color: #2B2B2B;
}

.container {
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-fill-width: true;
}

.title-label {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.title-box {
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.button:hover {
    -fx-cursor: hand;
}

.upload-button {
    -fx-font-size: 15px;
    -fx-background-color: #FFA500;
    -fx-text-fill: white;
    -fx-border-radius: 2.5px;
    -fx-background-radius: 2.5px;
}

.submit-button {
    -fx-font-size: 15px;
    -fx-background-color: white;
    -fx-text-fill: #2B2B2B;
    -fx-border-radius: 2.5px;
    -fx-background-radius: 2.5px;
}

.informations-label {
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.success-label {
    -fx-font-size: 15px;
    -fx-text-fill: #00FF00;
}

.help-button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.help-container {
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-padding: 20px 0;
}

.informations-text {
    -fx-font-size: 15px;
    -fx-fill: white;
}

ScrollPane {
    -fx-background-color: #2B2B2B;
    -fx-border-color: transparent;
}

ScrollPane .viewport {
    -fx-background-color: #2B2B2B;
}

